.Wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid black;
    background-color: lightblue;

    &__display {
        width: 95%;
        height: 95%;
        border: 1px solid black;
        background-color: white;
        padding: .75em;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        row-gap: 1em;

        h1 {
            font-size: 1.5rem;
            color: rgb(0, 0, 0, .75);
            font-weight: 100;
        }

        &_filter {
            display: flex;
            flex-direction: column;
            row-gap: .5em;

            h2 {
                color: rgb(0, 0, 0, .45);
                font-weight: 100;
                font-size: 1rem;
            }
            
            &_btns {
                display: flex;
                column-gap: .5em;
            }
        }

        &_cards {
            // Consider using grid instead
            display: flex;
            flex-wrap: wrap;
            gap: 1em;
            animation: fade .15s;

            @keyframes fade {
                0% {
                    opacity: 0
                }

                100% {
                    opacity: 1;
                }
            }
        }
    }
}