@use '../../styles/global.scss' as *;

.Wrapper {
    flex: 1;
    display: flex;
    overflow-y: auto;
    border-left: 1rem solid $accent;
    border-top: 1rem solid $accent;
    border-top-left-radius: 2em;
    
    &__display {
        min-height: 100%;
        width: 100%;
        height: fit-content;
        background-color: white;
        padding: 1em 2em;
        display: flex;
        flex-direction: column;
        row-gap: .5em;
        

        h1 {
            font-size: 1.5rem;
            color: rgb(0, 0, 0, .75);
            font-weight: 100;
        }

        &_filter {
            display: flex;
            flex-direction: column;
            row-gap: .75em;

            h2 {
                color: rgb(0, 0, 0, .45);
                font-weight: 100;
                font-size: 1rem;
            }
            
            &_btns {
                display: flex;
                column-gap: .5em;
                margin-bottom: .5em;
            }
        }

        &_cards {
            // Consider using grid instead
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            row-gap: 1em;
            column-gap: 2em;
            animation: fade .15s;

            @keyframes fade {
                0% {
                    opacity: 0
                }

                100% {
                    opacity: 1;
                }
            }
        }
    }
}