@use "../../styles/global.scss" as *;

.Loader {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    animation: show .15s linear;

    &__circle {
        width: 300px;
        height: 300px;
        position: relative;

        &_spinner {
            margin: auto;
            width: calc(100% - 16px);
            height: calc(100% - 16.5px);
            background-color: $secondary;
            border: 8px solid rgb(0, 0, 0, .25);
            border-top: 8px solid $primary;
            border-radius: 50%;
            animation: rotate 1s linear infinite;
        }

        p {
            text-align: center;
            font-size: 1.5rem;
            font-weight: 100;
            position: absolute;
            top: 5.5em;
            left: 5px;
            right: 0;
            margin: 0 auto;
            width: fit-content;
            color: rgb(0, 0, 0, .65);
            color: rgb(255, 255, 255, .8);

            letter-spacing: 4px;
        }
    }
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}