@use '../../styles/global.scss' as *;

.Homebutton {
    font-size: 1rem;
    padding: .25em .5em;
    border-color: transparent;
    background-color: transparent;
    color: rgb(0, 0, 0, .5);
    border-radius: 5px;
    text-transform: capitalize;
    transition: all .15s;
    cursor: pointer;
    position: relative;
    z-index: 100;

    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
}

.Homeselected {
    color: rgb(0, 0, 0, .75);
    box-shadow: none;
    border-color: $primary;
}

.Searchbutton {
    background-color: white;
    padding: .5em .75em;
    border: none;
    border-radius: 2em;
    cursor: pointer;
    transition: all .15s;
    filter: drop-shadow(0px 2px .15em rgb(0, 0, 0, .05));

    &:active {
        transform: scale(.85);
    }
}


.Searchselected {
    background-color: $primary;
    color: white;
}