@use '../../styles/global.scss' as *;

.Error {
    flex: 1;
    border-top: 1rem solid $accent;
    border-left: 1rem solid $accent;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    background-color: white;
    animation: load .25s linear;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $secondary;

    h1 {
        font-weight: lighter;
    }

    h2 {
        margin: .5em 0 5em 0;
    }
}

@keyframes animation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}