@use "../../styles/global.scss" as *;

.About {
    font-size: 1rem;
    box-shadow:
        -2px 2px 1px $primary,
        0px 0px 1px rgb(100, 100, 100, 0.5);
    border-radius: 2em;
    padding: 1em 2em;
    position: relative;
    margin: 1em 1em 1em 0;
    transition: all .15s;
    left: -5rem;
    visibility: hidden;
    line-height: 1.5;
    opacity: 0;

    p {
        color: rgb(0, 0, 0, .75);
    }

    a {
        display: block;
        color: rgb(0, 0, 0, .75);
        text-decoration: underline;
        width: fit-content;
    }

    a:hover {
        color: black;
    }

    @media screen and (max-width: 600px) {
        padding: 1em;
    }
}

.Opacity {
    opacity: 1;
    transform: scale(1);
    left: 0;
    visibility: visible;
    animation: popIn .15s both linear;
    width: 100%;
}

@keyframes popIn {
    0% {
        transform: scale(.85);
    }

    50% {
        transform: scale(1.025);
    }

    100% {
        transform: scale(1.0);
    }
}