@use '../../styles/global.scss' as *;

.Wrapper {
    flex: 1;
    display: flex;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 1em;
    }

    &::-webkit-scrollbar-thumb {
        background-color: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.025);
    }

    @media screen and (max-width: 1050px) {
        flex: none;
    }

    &__display {
        border-top-left-radius: 2em;
        background-color: white;
        min-height: 100%;
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        row-gap: .5em;


        @media screen and (max-width: 1050px) {
            border-top-right-radius: 2em;
            overflow-y: auto;
            margin-left: 1em;
        }

        &_header {
            position: sticky;
            padding: 1em 1.75em .5em;
            top: 0em;
            z-index: 200;
            display: flex;
            transition: all .25s;
            background-color: $secondary;
            border-top-left-radius: 2em;

            @media screen and (max-width: 1050px) {
                border-top-right-radius: 2em;
                justify-content: center;
                background-color: white;
            }

            &_filter {
                display: flex;
                flex-direction: column;
                row-gap: .75em;

                @media screen and (max-width: 1050px) {
                    justify-content: center;
                    text-align: center;
                }

                h2 {
                    font-size: 1.2em;
                    font-weight: bold;
                    color: white;

                    @media screen and (max-width: 1050px) {
                        color: rgba(0, 0, 0, 0.85);
                    }
                }

                &_btns {
                    display: flex;
                    column-gap: .5em;
                    margin-bottom: .5em;

                    @media screen and (max-width: 650px) {
                        flex-wrap: wrap;
                        row-gap: .75em;
                    }
                }
            }
        }

        &_cards {
            display: grid;
            grid-template-columns: repeat(5, minmax(0, 1fr));
            row-gap: 1em;
            column-gap: 2em;
            animation: fade .15s;
            padding: 1em 1.5em 1.5em;

            @media screen and (max-width: 1650px) {
                grid-template-columns: repeat(4, minmax(0, 1fr));
            }

            @media screen and (max-width: 1450px) {
                grid-template-columns: repeat(3, minmax(0, 1fr));
            }

            @media screen and (max-width: 1100px) {
                grid-template-columns: repeat(2, minmax(0, 1fr));
            }

            @media screen and (max-width: 600px) {
                grid-template-columns: repeat(1, minmax(0, 1fr));

            }
        }
    }
}


@keyframes fade {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1;
    }
}