@use '../../styles/global.scss' as *;

.Wrapper {
    flex: 1;
    display: flex;
    overflow-y: auto;
    border-top: 1rem solid $accent;
    border-left: 1rem solid $accent;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;

    &::-webkit-scrollbar {
        width: 1em;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $secondary;
        border-radius: 2em;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.025);
    }

    @media screen and (max-width: 1050px) {
        flex: none;
        border-right: 1rem solid $accent;
        border-radius: 3em;
    }

    &__display {
        min-height: 100%;
        width: 100%;
        height: fit-content;
        background-color: white;
        padding: 1em 2em;
        display: flex;
        flex-direction: column;
        row-gap: .5em;

        @media screen and (max-width: 1050px) {
            overflow-y: auto;
        }

        h1 {
            font-size: 1.5rem;
            color: rgb(0, 0, 0, .9);

            @media screen and (max-width: 1050px) {
                text-align: center;
            }
        }

        &_filter {
            display: flex;
            flex-direction: column;
            row-gap: .75em;

            h2 {
                color: rgb(0, 0, 0, .45);
                font-weight: 100;
                font-size: 1rem;
            }

            &_btns {
                display: flex;
                column-gap: .5em;
                margin-bottom: .5em;

                @media screen and (max-width: 650px) {
                    flex-wrap: wrap;
                }
            }

            @media screen and (max-width: 1050px) {
                align-items: center;
                text-align: center;
            }
        }

        &_cards {
            // Consider using grid instead
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            row-gap: 1em;
            column-gap: 2em;
            animation: fade .15s;

            @media screen and (max-width: 1650px) {
                grid-template-columns: repeat(4, 1fr);
            }

            @media screen and (max-width: 1350px) {
                grid-template-columns: repeat(3, 1fr);
            }

            @media screen and (max-width: 1050px) {
                grid-template-columns: repeat(2, 1fr);
            }

            @media screen and (max-width: 600px) {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }
}


@keyframes fade {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1;
    }
}