@use '../../styles/global.scss' as *;

.Search {
    height: 100vh;
    width: 100%;
    display: flex;
    background-color: $accent;
    animation: load .15s linear;
}

@keyframes load {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}