@use '../../styles/global.scss' as *;

.SideDisplay {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    height: 100vh;
    background-color: $accent;
    min-width: 25em;
    max-width: fit-content;

    @media screen and (max-width: 1050px) {
        height: auto;
        min-width: 100%;
    }

    &__header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        row-gap: 1em;
        background-color: white;
        border-radius: 2em;
        padding: .5em 1em 1em;
        margin: 0em 1em;
        box-shadow: 0px 0px 1em rgba(65, 65, 65, 0.1);

        &_search {
            display: flex;
            justify-content: space-between;

            a:first-letter {
                color: white;
                text-shadow:
                    2px 2px 1px $primary,
                    0px 0px 0px black;
            }

            a {
                color: $primary;
                font-size: 2rem;
                letter-spacing: 2px;
                font-style: italic;
                font-weight: 100;
            }

            img {
                object-fit: contain;
                position: relative;
                top: .25em;
            }
        }

        &_filter {
            display: flex;
            column-gap: .5em;

            @media screen and (max-width: 1050px) {
                justify-content: center;
            }
        }
    }

    &__pending {
        display: flex;
        flex-direction: column;
        height: 100%;

        div {
            border-radius: 2em;
            opacity: .85;
            background-color: white;
            margin: 0em 1em 1em 1em;
        }

        div:first-child {
            flex: 1;
        }

        div:last-child {
            flex: 2;
            margin-bottom: 2em;
        }

        @media screen and (max-width: 1050px) {
            margin-left: 1em;
            height: 15em;
            flex-direction: row;

            div {
                margin: 0em 0em 1em 0;
            }

            div:first-child, div:last-child {
                margin-right: 1em;
            }

            div:last-child {
                margin-bottom: 1em;
            }
        }
    }
}